In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import RocCurveDisplay

%matplotlib inline

In [10]:
data = pd.read_csv('data/unemployment_data.csv')
data

,Date,Unemployment_interpolated,Bank Interest Rate,Change_in_GDP,Unemployment,CPI_all-items,CPI_food,CPI_shelter,CPI_household_op,CPI_clothing,...,ITSE_transport,ITSE_gov,ITSB_total,ITSB_commercial,ITSB_travel,ITSB_transport,ITSB_gov,HPI_total,HPI_house,HPI_land
0,1976-01,7.100,9.000000,4.673333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1976-02,7.175,9.000000,6.036667,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1976-03,7.250,9.391304,7.400000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1976-04,7.325,9.500000,7.770000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1976-05,7.400,9.500000,8.140000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,2023-10,NaN,5.250000,NaN,5.3,158.6,186.3,176.3,131.2,95.9,...,"1,697",150.0,43,175.0,"1,132","-1,257",-7.0,124.7,127.6,116.9E
574,2023-11,NaN,5.250000,NaN,5.3,159.0,186.8,177.1,131.1,96.4,...,"1,560",147.0,-482,248.0,651,"-1,375",-7.0,124.4,127.2,116.8E
575,2023-12,NaN,5.250000,NaN,5.3,159.5,187.6,177.8,130.8,96.9,...,"1,615",146.0,319,528.0,949,"-1,152",-6.0,124.4,127.2,116.8E
576,2024-01,NaN,5.250000,NaN,6.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,2024-02,NaN,5.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.dropna(subset='Unemployment')

,Date,Unemployment_interpolated,Bank Interest Rate,Change_in_GDP,Unemployment,CPI_all-items,CPI_food,CPI_shelter,CPI_household_op,CPI_clothing,...,ITSE_transport,ITSE_gov,ITSB_total,ITSB_commercial,ITSB_travel,ITSB_transport,ITSB_gov,HPI_total,HPI_house,HPI_land
420,2011-01,7.600000,1.25,4.053333,8.3,118.4,124.6,124.5,109.8,91.0,...,940,128.0,"-2,330",315.0,"-1,766",-897,18.0,88.6,87.0,92.1E
421,2011-02,7.583333,1.25,3.516667,8.2,118.3,124.7,124.5,109.8,90.5,...,890,130.0,"-1,874",353.0,"-1,434",-813,20.0,89.0,87.3,92.4E
422,2011-03,7.566667,1.25,2.980000,8.4,119.1,126.8,124.6,110.3,91.6,...,"1,027",129.0,"-3,060",379.0,"-2,457","-1,003",21.0,89.0,87.4,92.3E
423,2011-04,7.550000,1.25,2.240000,8.2,119.6,127.0,125.2,109.6,90.9,...,"1,048",125.0,"-3,128",253.0,"-2,397","-1,005",21.0,89.2,87.8,92.4E
424,2011-05,7.533333,1.25,1.500000,7.7,120.0,127.5,125.2,110.2,92.3,...,"1,157",125.0,"-2,232",279.0,"-1,689",-844,22.0,89.6,88.2,92.7E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2023-09,NaN,5.25,-1.050000,5.2,158.6,185.9,174.8,131.3,96.5,...,"1,718",154.0,934,279.0,"1,931","-1,268",-9.0,124.7,127.8,116.8E
573,2023-10,NaN,5.25,NaN,5.3,158.6,186.3,176.3,131.2,95.9,...,"1,697",150.0,43,175.0,"1,132","-1,257",-7.0,124.7,127.6,116.9E
574,2023-11,NaN,5.25,NaN,5.3,159.0,186.8,177.1,131.1,96.4,...,"1,560",147.0,-482,248.0,651,"-1,375",-7.0,124.4,127.2,116.8E
575,2023-12,NaN,5.25,NaN,5.3,159.5,187.6,177.8,130.8,96.9,...,"1,615",146.0,319,528.0,949,"-1,152",-6.0,124.4,127.2,116.8E
576,2024-01,NaN,5.25,NaN,6.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN